.add-basket-info-wrapper {
    position: relative;
    background-image: url("../../public/images/shopping.jpg");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    padding-top: 5vh;
}

.add-basket-info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
    background-color: coral;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
}

.add-basket-info-container p {
    text-align: center;
    padding: 10% 10%;
    font-size: 3vh;
}

.add-basket-info-container a {
    position: absolute;
    min-width: 180px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #009587;
}

.add-basket-info-container a:nth-of-type(1) {
    bottom: 3vh;
    left: 3vh;
}

.add-basket-info-container a:nth-of-type(2) {
    bottom: 3vh;
    right: 3vh;
}

.add-basket-info-container a:hover {
    background-color: black;
}