.navigation {
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: coral;
    padding: 20px 20px;
    transition: 0.4s;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.4s;
}

.navigation a:hover {
    transform: translateX(30px);
}

.navigation a.active {
    color: black;
}

.burger {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    font-size: 40px;
    line-height: 50px;
    transition: 0.3s;
    color: coral;
    z-index: 1;
}

.burger:hover {
    cursor: pointer;
}