.start-header {
    height: 10vh;
    background-color: black;
    position: relative;
}

.start-header-logo {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    background-image: url("../../public/logo/logo4.png");
    background-size: cover;
    background-position: center;
    height: 8vh;
    width: 8vh;
}

.start-header-sobitem {
    position: absolute;
    top: 50%;
    left: 12vw;
    transform: translateY(-50%);
    background-color: coral;
    color: black;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.start-header-sobitem:hover {
    color: white;
}

.registration-wrap {
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
    font-size: 25px;
}

.login {
    color: white;
    text-decoration: none;
    padding: 6px 15px;
    border-bottom: 2px solid black;
    transition: 0.3s;
}

.registration {
    color: white;
    text-decoration: none;
    margin-left: 3vw;
    border: 2px solid white;
    padding: 6px 15px;
    transition: 0.3s;
}

.login:hover {
    border-color: white;
}

.registration:hover {
    color: black;
    background-color: white;
}